/* ================================
        Variables css
================================ */

// Colors
$white: #fff;
$black: #000;
$darkGreen: #2C514C;
$lightGreen: #4F7A74;
$darkBLue: #122932;
$darkGrey: #323232;
$textOrange: #DB4545;
$textGrey: #838383;
