/* ================================
        Base css
================================ */
body {
    background-color: $darkGreen;
}

ul {
    li {
        list-style-type: none;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.25s;
}

.full-grid {
    display: grid;
    grid-template-areas: ". item .";
    grid-template-columns: 10px auto 10px;

    .full-grid-item {
        grid-area: item;
    }
}
