/* ================================
        Base css
================================ */

body{
    background-color: $darkGreen;
}

ul{
    li{
        list-style-type: none;
    }
}

a{
    text-decoration: none;
    display: inline-block;
    transition: 0.25s;
}

.full-grid{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". item .";

    .full-grid-item{
        grid-area: item;
    }
}
