/* ================================
        Visible css
================================ */
.card-sections {
    background-color: $lightGreen;
    margin: 20px 0;

    .title {
        text-align: center;
        color: $white;
        margin: 60px 0 30px;
        padding: 0 30px;
        line-height: rem-calc(22);

        h1 {
            margin-bottom: 20px;
        }
    }
}

.code {
    margin: 0 15px 15px;
    padding: 12px 0 5px 15px;
    background-color: $darkGrey;
    border-radius: 10px;
    border: 1px solid $borderGrey;

    h5 {
        font-size: rem-calc(10);
        color: $textGrey;
        font-weight: 300;
        margin-bottom: 10px;
    }

    ul {
        font-family: 'Roboto Mono', monospace;

        li {
            margin-bottom: 7px;
            color: $white;

            span {
                color: $textOrange;
            }
        }
    }
}

.indent {
    text-indent: 25px;
}

.browser-visible {
    margin: 0 15px 60px;
    padding: 12px 0 105px 15px;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $borderGrey;

    h5 {
        font-size: rem-calc(10);
        color: $textGrey;
        font-weight: 300;
        margin-bottom: 10px;
    }

    #visible {
        border-radius: 10px;
        border: 1px solid $black;
        height: 195px;
        padding: 15px 25px 0 15px;
        margin: 30px 50px 30px 25px;
        overflow: visible;
    }
}

.browser-hidden {
    margin: 0 15px 60px;
    padding: 12px 0 5px 15px;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $borderGrey;

    h5 {
        font-size: rem-calc(10);
        color: $textGrey;
        font-weight: 300;
        margin-bottom: 10px;
    }

    #hidden {
        border-radius: 10px;
        border: 1px solid $black;
        height: 195px;
        padding: 15px 15px 0 15px;
        margin: 30px 50px 30px 25px;
        overflow: hidden;
    }
}

.browser-scroll {
    margin: 0 15px 60px;
    padding: 12px 0 5px 15px;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $borderGrey;

    h5 {
        font-size: rem-calc(10);
        color: $textGrey;
        font-weight: 300;
        margin-bottom: 10px;
    }

    #scroll {
        border-radius: 10px;
        border: 1px solid $black;
        height: 195px;
        padding: 15px 15px 0 15px;
        margin: 30px 50px 30px 25px;
        overflow: scroll;
    }
}

.browser-auto {
    margin: 0 15px 60px;
    padding: 12px 0 5px 15px;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $borderGrey;

    h5 {
        font-size: rem-calc(10);
        color: $textGrey;
        font-weight: 300;
        margin-bottom: 10px;
    }

    #auto {
        border-radius: 10px;
        border: 1px solid $black;
        height: 195px;
        padding: 15px 15px 0 15px;
        margin: 30px 50px 30px 25px;
        overflow: auto;
    }
}
