/* ================================
        Visible css
================================ */
.card-sections {
    background-color: $lightGreen;
    margin: 20px 0;

    .title {
        color: $white;
        line-height: rem-calc(22);
        margin: 60px 0 30px;
        padding: 0 30px;
        text-align: center;

        h1 {
            margin-bottom: 20px;
        }
    }
}

.code {
    background-color: $darkGrey;
    border: 1px solid $borderGrey;
    border-radius: 10px;
    margin: 0 15px 15px;
    padding: 12px 0 5px 15px;

    h5 {
        color: $textGrey;
        font-size: rem-calc(10);
        font-weight: 300;
        margin-bottom: 10px;
    }

    ul {
        font-family: 'Roboto Mono', monospace;

        li {
            color: $white;
            margin-bottom: 7px;

            span {
                color: $textOrange;
            }
        }
    }
}

.indent {
    text-indent: 25px;
}

.browser-visible {
    background-color: $white;
    border: 1px solid $borderGrey;
    border-radius: 10px;
    margin: 0 15px 60px;
    padding: 12px 0 105px 15px;

    h5 {
        color: $textGrey;
        font-size: rem-calc(10);
        font-weight: 300;
        margin-bottom: 10px;
    }

    #visible {
        border: 1px solid $black;
        border-radius: 10px;
        height: 195px;
        margin: 30px 50px 30px 25px;
        overflow: visible;
        padding: 15px 25px 0 15px;
    }
}

.browser-hidden {
    background-color: $white;
    border: 1px solid $borderGrey;
    border-radius: 10px;
    margin: 0 15px 60px;
    padding: 12px 0 5px 15px;

    h5 {
        color: $textGrey;
        font-size: rem-calc(10);
        font-weight: 300;
        margin-bottom: 10px;
    }

    #hidden {
        border: 1px solid $black;
        border-radius: 10px;
        height: 195px;
        margin: 30px 50px 30px 25px;
        overflow: hidden;
        padding: 15px 15px 0;
    }
}

.browser-scroll {
    background-color: $white;
    border: 1px solid $borderGrey;
    border-radius: 10px;
    margin: 0 15px 60px;
    padding: 12px 0 5px 15px;

    h5 {
        color: $textGrey;
        font-size: rem-calc(10);
        font-weight: 300;
        margin-bottom: 10px;
    }

    #scroll {
        border: 1px solid $black;
        border-radius: 10px;
        height: 195px;
        margin: 30px 50px 30px 25px;
        overflow: scroll;
        padding: 15px 15px 0;
    }
}

.browser-auto {
    background-color: $white;
    border: 1px solid $borderGrey;
    border-radius: 10px;
    margin: 0 15px 60px;
    padding: 12px 0 5px 15px;

    h5 {
        color: $textGrey;
        font-size: rem-calc(10);
        font-weight: 300;
        margin-bottom: 10px;
    }

    #auto {
        border: 1px solid $black;
        border-radius: 10px;
        height: 195px;
        margin: 30px 50px 30px 25px;
        overflow: auto;
        padding: 15px 15px 0;
    }
}
