/* ================================
        Hero css
================================ */
#hero-section {
    color: $white;
    text-align: center;

    h1 {
        font-size: rem-calc(29);
        font-weight: 600;
        line-height: rem-calc(39);
        padding: 30px 25px;
    }

    p {
        font-weight: 300;
        line-height: rem-calc(22);
        padding: 0 30px 31px;
    }

    h2 {
        font-size: rem-calc(17);
        font-weight: 600;
        padding: 9px 0;
    }

    ul {
        li {
            font-size: rem-calc(17);
            font-weight: 300;
            padding: 9px 60px;
            text-align: left;
        }
    }
}

#hero-image {
    background-image: url("../img/hero/water.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    margin: -110px 0 45px;
}
