/* ================================
        Header css
================================ */

header{
    background-color: $darkBLue;
    padding: 30px 15px;
    display: grid;
    grid-template-columns: 80% auto;
    font-size: rem-calc(16);
    font-weight: 700;
    color: $white;

    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        #burger{

            font-size: rem-calc(20);
        }
    }
}
