/* ================================
        Header css
================================ */
header {
    background-color: $darkBLue;
    color: $white;
    display: grid;
    font-size: rem-calc(16);
    font-weight: 700;
    grid-template-columns: 80% auto;
    padding: 30px 15px;

    nav {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        #burger {
            font-size: rem-calc(20);
        }
    }
}
